/* FONTS */

@font-face {
  font-family: 'TT Travels';
  src: url('../fonts/TTTravels-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../fonts/TTTravels-Medium.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

/* GLOBAL STYLES */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  position: relative;
  margin: 0;
  background-color: var(--color-wild-sand);
  font-family: 'TT Travels', sans-serif;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-baltic-sea: #262529;
  --color-purple-heart: #6B46D4;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1714px;
}

.title {
  margin: 0;
  padding: 0;
}

.primary-btn {
  padding: 9px 20px;
  background-color: var(--color-purple-heart);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-white);
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.primary-btn:hover {
  opacity: .7;
  transition: opacity .3s ease-in-out;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CALENDAR */

.calendar {
  background-color: var(--color-white);
}

.calendar__container {
  padding-top: 133px;
  padding-bottom: 183px;
}

.calendar__list {
  display: flex;
  flex-wrap: wrap;
}

.calendar__list-item {
  margin-right: 57px;
  margin-bottom: 50px;
}

.conference {
  display: flex;
  flex-direction: column;
  padding: 25px 35px 39px 30px;
  width: 378px;
  max-width: 378px;
  height: 100%;
  min-height: 520px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
}

.calendar__list-item:nth-child(4n) {
  margin-right: 0;
}

.conference__dates {
  display: inline-block;
  margin-bottom: 19px;
  font-weight: 500;
  font-size: 18px;
}

.conference__logo {
  align-self: start;
  margin-bottom: 20px;
  height: 90px;
}

.conference__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
}

.conference__descr {
  margin: 0;
  margin-bottom: auto;
  font-weight: 400;
  font-size: 16px;
}

.conference__address {
  margin-bottom: 12px;
  padding-left: 20px;
  background-image: url(../img/location.svg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 12px 15px;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

.conference__link {
  margin-bottom: 25px;
  padding-left: 20px;
  background-image: url(../img/link.svg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 13px  13px;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  color: var(--color-black);
  transition: color .3s ease-in-out;
}

.conference__link:hover {
  color: var(--color-purple-heart);
  transition: color .3s ease-in-out;
}

.conference__btn-block {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.conference__buy-btn {
  align-self: start;
}

.conference__learn-more {
  color: var(--color-purple-heart);
  text-decoration: underline;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.conference__learn-more:hover {
  color: var(--color-black);
  transition: color .3s ease-in-out;
}

/* FOOTER */

.footer {
  background-color: var(--color-baltic-sea);

}

.footer__container {
  position: relative;
  padding-top: 59px;
  padding-bottom: 93px;
  background-image: url(../img/2022.svg);
  background-position: calc(100% + 103px) top;
  background-repeat: no-repeat;
}

.contacts {
  display: flex;
}

.footer__contacts {
  margin-bottom: 44px;
}

.contacts__textblock {
  padding-bottom: 25px;
  max-width: 550px;
}

.contacts__text {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-white);
}

.contacts__text--bold {
  font-weight: 500;
}

.contacts__address {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: var(--color-white);
}

.footer__logo {
  display: flex;
    align-self: center;
    justify-content: center;
    flex-grow: 1;
    margin-left: -65px;
}

.navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(38, 37, 41, 0.85);
}

.navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-top: 18px;
  padding-right: 50px;
  padding-bottom: 34px;
}

.navigation__current-year {
  margin-right: 15px;
  font-weight: 500;
  font-size: 36px;
  color: var(--color-white);
}

.navigation__nav {
  position: relative;
}

.navigation__nav::before {
  content: '';
  position: absolute;
  left: 0;
  top: -16px;
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
  opacity: .35;
}

.navigation__list {
  display: flex;
}

.navigation__list-item:not(:last-child) {
  margin-right: 56px;
}

.navigation__btn {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  color: var(--color-white);
}

.navigation__btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: -19px;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: var(--color-white);
  transform: scale(0);
  transform-origin: center;
  transition: transform .3s ease-in-out;
}

.navigation__btn:hover::before {
  transform: scale(1);
  transition: transform .3s ease-in-out;
}
